extends ../layout

block content
  a(href="/") Back
  h1 Messages
  br
  a(href="/message/create") New message
  br
  br
  ul
    each message in messages
      li
        h3= message.firstname + " " + message.lastname
        p Id: #{message.id}
        p Message: #{message.message}
        a(href="/message/" + message.id) View message