extends ../layout

block content
  a(href="/message/") Back
  h1 Add a new message
  form(action="/message/", method="post")
    div
      label(for="firstname") Firstname: 
      input(id="firstname" name="firstname")
    br
    div
      label(for="lastname") Lastname: 
      input(id="lastname" name="lastname")
    br
    div
      label(for="number") Message: 
      textarea(id="message" name="message")
    br
    button(type="submit") Submit